{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BrickBasket</title>
  <link rel="stylesheet" href="{% static 'css/landing.css' %}">
</head>
<body>
  <div class="container">
    <div class="image-section" id="imageSection" style="background: url('{% static 'images/landing.jpeg' %}') center/cover no-repeat;">
      <h1>BrickBasket</h1>
    </div>
    <div class="login-section" id="loginSection">
      
      <div class="form-section" id="roleSelectionSection">
        <div class="flex-column" style="text-align: center; padding-top: 50px;">
          <h1>Join BrickBasket</h1>
          <p>How will you be using our platform?</p>
          
        <div style="
    display: flex; 
    flex-direction: column; 
    gap: 20px; 
    margin-top: 20px; 
    width: 80%; 
    max-width: 400px; 
    align-items: center; 
    margin-left: auto; 
    margin-right: auto;
">
    <button class="role-button" data-role="customer" style="width: 100%; text-align: center;">
        <h2>Customer</h2>
        <p style="font-size: 0.9em;">Browse and purchase materials.</p>
    </button>
    <button class="role-button" data-role="vendor" style="width: 100%; text-align: center;">
        <h2>Vendor</h2>
        <p style="font-size: 0.9em;">List and sell construction materials.</p>
    </button>
</div>
        </div>
      </div>
      
      <div class="form-section hidden-form" id="userSection">
        
        <div id="userSignInForm">
          <form class="form">
            <div class="flex-column">
              <h1>User Sign In</h1>
            </div>    
            <div class="flex-column"><label>Email </label></div>
            <div class="inputForm">
              <svg height="20" viewBox="0 0 32 32" width="20" xmlns="http://www.w3.org/2000/svg"><g id="Layer_3" data-name="Layer 3"><path d="m30.853 13.87a15 15 0 0 0 -29.729 4.082 15.1 15.1 0 0 0 12.876 12.918 15.6 15.6 0 0 0 2.016.13 14.85 14.85 0 0 0 7.715-2.145 1 1 0 1 0 -1.031-1.711 13.007 13.007 0 1 1 5.458-6.529 2.149 2.149 0 0 1 -4.158-.759v-10.856a1 1 0 0 0 -2 0v1.726a8 8 0 1 0 .2 10.325 4.135 4.135 0 0 0 7.83.274 15.2 15.2 0 0 0 .823-7.455zm-14.853 8.13a6 6 0 1 1 6-6 6.006 6.006 0 0 1 -6 6z"></path></g></svg>
              <input type="text" class="input" placeholder="Enter your Email">
            </div>
            
            <div class="flex-column"><label>Password </label></div>
            <div class="inputForm">
              <svg height="20" viewBox="-64 0 512 512" width="20" xmlns="http://www.w3.org/2000/svg"><path d="m336 512h-288c-26.453125 0-48-21.523438-48-48v-224c0-26.476562 21.546875-48 48-48h288c26.453125 0 48 21.523438 48 48v224c0 26.476562-21.546875 48-48 48zm-288-288c-8.8125 0-16 7.167969-16 16v224c0 8.832031 7.1875 16 16 16h288c8.8125 0 16-7.167969 16-16v-224c0-8.832031-7.1875-16-16-16zm0 0"></path><path d="m304 224c-8.832031 0-16-7.167969-16-16v-80c0-52.929688-43.070312-96-96-96s-96 43.070312-96 96v80c0 8.832031-7.167969 16-16 16s-16-7.167969-16-16v-80c0-70.59375 57.40625-128 128-128s128 57.40625 128 128v80c0 8.832031-7.167969 16-16 16zm0 0"></path></svg>        
              <input type="password" class="input" placeholder="Enter your Password">
              <svg viewBox="0 0 576 512" height="1em" xmlns="http://www.w3.org/2000/svg"><path d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9 1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z"></path></svg>
            </div>
            
            <div class="flex-row">
              <div><input type="checkbox"><label>Remember me </label></div>
              <span class="span">Forgot password?</span>
            </div>
            <button class="button-submit">Sign In</button>
            <p class="p">Don't have an account? <span class="span link-button" data-toggle="userSignUp">Sign Up</span></p>
            <p class="p"><span class="span link-button" data-toggle="roleSelect">← Change Role</span></p>
          </form>
        </div>

        <div id="userSignUpForm" class="hidden-form">
  <form class="form">
    <div class="flex-column"><h1>User Sign Up</h1></div>

    <!-- FIRST NAME -->
    <div class="flex-column"><label>First Name</label></div>
    <div class="inputForm">
      <svg height="20" width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M12 4a4 4 0 100 8 4 4 0 000-8zM4 18a8 8 0 1116 0h-2c0-3.313-2.687-6-6-6s-6 2.687-6 6H4z" fill="#000"/>
      </svg>
      <input type="text" name="first_name" class="input" placeholder="Enter your First Name">
    </div>

    <!-- LAST NAME -->
    <div class="flex-column"><label>Last Name</label></div>
    <div class="inputForm">
      <svg height="20" width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M12 4a4 4 0 100 8 4 4 0 000-8zM4 18a8 8 0 1116 0h-2c0-3.313-2.687-6-6-6s-6 2.687-6 6H4z" fill="#000"/>
      </svg>
      <input type="text" name="last_name" class="input" placeholder="Enter your Last Name">
    </div>

    <!-- USERNAME -->
    <div class="flex-column"><label>Username </label></div>
    <div class="inputForm">
      <svg height="20" width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M12 4a4 4 0 100 8 4 4 0 000-8zM4 18a8 8 0 1116 0h-2c0-3.313-2.687-6-6-6s-6 2.687-6 6H4z" fill="#000"/>
      </svg>
      <input type="text" name="username" class="input" placeholder="Enter a Username">
    </div>

    <!-- EMAIL -->
    <div class="flex-column"><label>Email </label></div>
    <div class="inputForm">
      <svg height="20" viewBox="0 0 32 32" width="20" xmlns="http://www.w3.org/2000/svg">
        <g id="Layer_3" data-name="Layer 3">
          <path d="m30.853 13.87a15 15 0 0 0 -29.729 4.082 15.1 15.1 0 0 0 12.876 12.918 15.6 15.6 0 0 0 2.016.13 
          14.85 14.85 0 0 0 7.715-2.145 1 1 0 1 0 -1.031-1.711 
          13.007 13.007 0 1 1 5.458-6.529 
          2.149 2.149 0 0 1 -4.158-.759v-10.856a1 1 0 0 0 -2 0v1.726a8 
          8 0 1 0 .2 10.325 4.135 4.135 0 0 0 
          7.83.274 15.2 15.2 0 0 0 .823-7.455zm-14.853 
          8.13a6 6 0 1 1 6-6 6.006 6.006 0 0 1 -6 6z"></path>
        </g>
      </svg>
      <input type="email" name="email" class="input" placeholder="Enter your Email">
    </div>

    <!-- PASSWORD -->
    <div class="flex-column"><label>Password </label></div>
    <div class="inputForm">
      <svg height="20" viewBox="-64 0 512 512" width="20" xmlns="http://www.w3.org/2000/svg">
        <path d="m336 512h-288c-26.453125 0-48-21.523438-48-48v-224c0-26.476562
        21.546875-48 48-48h288c26.453125 0 48 21.523438 
        48 48v224c0 26.476562-21.546875 48-48 
        48zm-288-288c-8.8125 0-16 7.167969-16
        16v224c0 8.832031 7.1875 16 16 
        16h288c8.8125 0 16-7.167969 
        16-16v-224c0-8.832031-7.1875-16-16-
        16zm0 0"></path>
        <path d="m304 224c-8.832031 0-16-
        7.167969-16-16v-80c0-52.929688-43.070312-
        96-96-96s-96 43.070312-96 96v80c0 
        8.832031-7.167969 16-16 
        16s-16-7.167969-16-16v-80c0-70.59375 
        57.40625-128 128-128s128 57.40625 
        128 128v80c0 8.832031-7.167969 
        16-16 16zm0 0"></path>
      </svg>
      <input type="password" name="password" class="input" placeholder="Create a Password">
    </div>

    <!-- CONFIRM PASSWORD -->
    <div class="flex-column"><label>Confirm Password </label></div>
    <div class="inputForm">
      <svg height="20" viewBox="-64 0 512 512" width="20" xmlns="http://www.w3.org/2000/svg">
        <path d="m336 512h-288c-26.453125 0-48-
        21.523438-48-48v-224c0-26.476562 
        21.546875-48 48-48h288c26.453125 0 48 
        21.523438 48 48v224c0 26.476562-21.546875 
        48-48 48zm-288-288c-8.8125 0-16 
        7.167969-16 16v224c0 8.832031 
        7.1875 16 16 16h288c8.8125 0 
        16-7.167969 16-16v-224c0-8.832031-
        7.1875-16-16-16zm0 0"></path>
        <path d="m304 224c-8.832031 0-
        16-7.167969-16-16v-80c0-52.929688-
        43.070312-96-96-96s-96 43.070312-96 
        96v80c0 8.832031-7.167969 16-16 
        16s-16-7.167969-16-16v-80c0-70.59375 
        57.40625-128 128-128s128 57.40625 
        128 128v80c0 8.832031-7.167969 
        16-16 16zm0 0"></path>
      </svg>
      <input type="password" name="confirm_password" class="input" placeholder="Re-enter Password">
    </div>

    <button class="button-submit">Sign Up</button>
    <p class="p">Already have an account? <span class="span link-button" data-toggle="userSignIn">Sign In</span></p>
    <p class="p"><span class="span link-button" data-toggle="roleSelect">← Change Role</span></p>
  </form>
</div>

      </div>
      
      <div class="form-section hidden-form" id="vendorSection">

        <div id="vendorSignInForm">
          <form class="form">
            <div class="flex-column">
              <h1>Vendor Sign In</h1>
            </div>    
            <div class="flex-column"><label>Company Email </label></div>
            <div class="inputForm">
              <svg height="20" viewBox="0 0 32 32" width="20" xmlns="http://www.w3.org/2000/svg"><g id="Layer_3" data-name="Layer 3"><path d="m30.853 13.87a15 15 0 0 0 -29.729 4.082 15.1 15.1 0 0 0 12.876 12.918 15.6 15.6 0 0 0 2.016.13 14.85 14.85 0 0 0 7.715-2.145 1 1 0 1 0 -1.031-1.711 13.007 13.007 0 1 1 5.458-6.529 2.149 2.149 0 0 1 -4.158-.759v-10.856a1 1 0 0 0 -2 0v1.726a8 8 0 1 0 .2 10.325 4.135 4.135 0 0 0 7.83.274 15.2 15.2 0 0 0 .823-7.455zm-14.853 8.13a6 6 0 1 1 6-6 6.006 6.006 0 0 1 -6 6z"></path></g></svg>
              <input type="text" class="input" placeholder="Enter Company Email">
            </div>
            
            <div class="flex-column"><label>Password </label></div>
            <div class="inputForm">
              <svg height="20" viewBox="-64 0 512 512" width="20" xmlns="http://www.w3.org/2000/svg"><path d="m336 512h-288c-26.453125 0-48-21.523438-48-48v-224c0-26.476562 21.546875-48 48-48h288c26.453125 0 48 21.523438 48 48v224c0 26.476562-21.546875 48-48 48zm-288-288c-8.8125 0-16 7.167969-16 16v224c0 8.832031 7.1875 16 16 16h288c8.8125 0 16-7.167969 16-16v-224c0-8.832031-7.1875-16-16-16zm0 0"></path><path d="m304 224c-8.832031 0-16-7.167969-16-16v-80c0-52.929688-43.070312-96-96-96s-96 43.070312-96 96v80c0 8.832031-7.167969 16-16 16s-16-7.167969-16-16v-80c0-70.59375 57.40625-128 128-128s128 57.40625 128 128v80c0 8.832031-7.167969 16-16 16zm0 0"></path></svg>        
              <input type="password" class="input" placeholder="Enter Password">
              <svg viewBox="0 0 576 512" height="1em" xmlns="http://www.w3.org/2000/svg"><path d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9 1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z"></path></svg>
            </div>
            <button class="button-submit">Vendor Sign In</button>
            <p class="p">New vendor? <span class="span link-button" data-toggle="vendorSignUp">Sign Up Here</span></p>
            <p class="p"><span class="span link-button" data-toggle="roleSelect">← Change Role</span></p>
          </form>
        </div>

        <div id="vendorSignUpForm" class="hidden-form">
          <form class="form">
            <div class="flex-column"><h1>Vendor Sign Up</h1></div>    
            <div class="flex-column"><label>Company Name </label></div>
            <div class="inputForm">
              <svg height="20" width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2 7h18a2 2 0 012 2v10a2 2 0 01-2 2H2a2 2 0 01-2-2V9a2 2 0 012-2zm0-4h18a2 2 0 012 2v2H0V5a2 2 0 012-2z" fill="#000"/></svg>
              <input type="text" class="input" placeholder="Brick & Co.">
            </div>

            <div class="flex-column"><label>Official Email </label></div>
            <div class="inputForm">
              <svg height="20" viewBox="0 0 32 32" width="20" xmlns="http://www.w3.org/2000/svg"><g id="Layer_3" data-name="Layer 3"><path d="m30.853 13.87a15 15 0 0 0 -29.729 4.082 15.1 15.1 0 0 0 12.876 12.918 15.6 15.6 0 0 0 2.016.13 14.85 14.85 0 0 0 7.715-2.145 1 1 0 1 0 -1.031-1.711 13.007 13.007 0 1 1 5.458-6.529 2.149 2.149 0 0 1 -4.158-.759v-10.856a1 1 0 0 0 -2 0v1.726a8 8 0 1 0 .2 10.325 4.135 4.135 0 0 0 7.83.274 15.2 15.2 0 0 0 .823-7.455zm-14.853 8.13a6 6 0 1 1 6-6 6.006 6.006 0 0 1 -6 6z"></path></g></svg>
              <input type="text" class="input" placeholder="contact@brickco.com">
            </div>

            <div class="flex-column"><label>Business License Number </label></div>
            <div class="inputForm">
                <svg height="20" viewBox="0 0 24 24" width="20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7 11h10M7 15h10M4 5h16a2 2 0 012 2v10a2 2 0 01-2 2H4a2 2 0 01-2-2V7a2 2 0 012-2z" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                <input type="text" class="input" placeholder="e.g., V456789ABC">
            </div>
            
            <div class="flex-column"><label>Password </label></div>
            <div class="inputForm">
              <svg height="20" viewBox="-64 0 512 512" width="20" xmlns="http://www.w3.org/2000/svg"><path d="m336 512h-288c-26.453125 0-48-21.523438-48-48v-224c0-26.476562 21.546875-48 48-48h288c26.453125 0 48 21.523438 48 48v224c0 26.476562-21.546875 48-48 48zm-288-288c-8.8125 0-16 7.167969-16 16v224c0 8.832031 7.1875 16 16 16h288c8.8125 0 16-7.167969 16-16v-224c0-8.832031-7.1875-16-16-16zm0 0"></path><path d="m304 224c-8.832031 0-16-7.167969-16-16v-80c0-52.929688-43.070312-96-96-96s-96 43.070312-96 96v80c0 8.832031-7.167969 16-16 16s-16-7.167969-16-16v-80c0-70.59375 57.40625-128 128-128s128 57.40625 128 128v80c0 8.832031-7.167969 16-16 16zm0 0"></path></svg>           
              <input type="password" class="input" placeholder="Create a Secure Password">
            </div>
            
            <div class="flex-column"><label>Confirm Password </label></div>
            <div class="inputForm">
              <svg height="20" viewBox="-64 0 512 512" width="20" xmlns="http://www.w3.org/2000/svg"><path d="m336 512h-288c-26.453125 0-48-21.523438-48-48v-224c0-26.476562 21.546875-48 48-48h288c26.453125 0 48 21.523438 48 48v224c0 26.476562-21.546875 48-48 48zm-288-288c-8.8125 0-16 7.167969-16 16v224c0 8.832031 7.1875 16 16 16h288c8.8125 0 16-7.167969 16-16v-224c0-8.832031-7.1875-16-16-16zm0 0"></path><path d="m304 224c-8.832031 0-16-7.167969-16-16v-80c0-52.929688-43.070312-96-96-96s-96 43.070312-96 96v80c0 8.832031-7.167969 16-16 16s-16-7.167969-16-16v-80c0-70.59375 57.40625-128 128-128s128 57.40625 128 128v80c0 8.832031-7.167969 16-16 16zm0 0"></path></svg>           
              <input type="password" class="input" placeholder="Re-enter Password">
            </div>
            
            <button class="button-submit">Register Vendor</button>
            <p class="p">Already registered? <span class="span link-button" data-toggle="vendorSignIn">Sign In</span></p>
            <p class="p"><span class="span link-button" data-toggle="roleSelect">← Change Role</span></p>
          </form>
        </div>
      </div>

    </div>
  </div>
  <script>
document.addEventListener("DOMContentLoaded", () => {
  const imageSection = document.getElementById("imageSection");
  const loginSection = document.getElementById("loginSection");

  const roleSelectionSection = document.getElementById("roleSelectionSection");
  const userSection = document.getElementById("userSection");
  const vendorSection = document.getElementById("vendorSection");

  const userSignInForm = document.getElementById("userSignInForm");
  const userSignUpForm = document.getElementById("userSignUpForm");

  const vendorSignInForm = document.getElementById("vendorSignInForm");
  const vendorSignUpForm = document.getElementById("vendorSignUpForm");

  const navTriggers = document.querySelectorAll('[data-role], [data-toggle]');

  setTimeout(() => {
    imageSection.style.width = "50%";
    loginSection.style.width = "50%";
    loginSection.style.opacity = "1";
  }, 1000);

  function hideAllSections() {
    roleSelectionSection.classList.add("hidden-form");
    userSection.classList.add("hidden-form");
    vendorSection.classList.add("hidden-form");
  }

  function hideAllForms() {
    userSignInForm.classList.add("hidden-form");
    userSignUpForm.classList.add("hidden-form");
    vendorSignInForm.classList.add("hidden-form");
    vendorSignUpForm.classList.add("hidden-form");
  }

  let selectedRole = "customer";

  navTriggers.forEach(element => {
    element.addEventListener("click", () => {
      const role = element.getAttribute("data-role");
      const toggle = element.getAttribute("data-toggle");

      if (role) {
        hideAllSections();
        selectedRole = role;

        if (role === "customer") {
          userSection.classList.remove("hidden-form");
          hideAllForms();
          userSignInForm.classList.remove("hidden-form");
        } else if (role === "vendor") {
          vendorSection.classList.remove("hidden-form");
          hideAllForms();
          vendorSignInForm.classList.remove("hidden-form");
        }
      } else if (toggle) {
        if (toggle === "roleSelect") {
          hideAllSections();
          roleSelectionSection.classList.remove("hidden-form");
        }

        if (toggle === "userSignUp") {
          userSignInForm.classList.add("hidden-form");
          userSignUpForm.classList.remove("hidden-form");
        } else if (toggle === "userSignIn") {
          userSignUpForm.classList.add("hidden-form");
          userSignInForm.classList.remove("hidden-form");
        }

        if (toggle === "vendorSignUp") {
          vendorSignInForm.classList.add("hidden-form");
          vendorSignUpForm.classList.remove("hidden-form");
        } else if (toggle === "vendorSignIn") {
          vendorSignUpForm.classList.add("hidden-form");
          vendorSignInForm.classList.remove("hidden-form");
        }
      }
    });
  });

  // ✅ Signup form submission (both user + vendor)
  const allSignupForms = document.querySelectorAll("#userSignUpForm, #vendorSignUpForm");
  allSignupForms.forEach(form => {
    form.addEventListener("submit", async e => {
      e.preventDefault();
      const formData = Object.fromEntries(new FormData(e.target).entries());
      formData.role = selectedRole;

      console.log("Submitting signup:", formData);

      try {
        const response = await fetch("signup/", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify(formData),
          redirect: "follow"
        });

        if (response.redirected) {
          window.location.href = response.url;
        } else {
          const result = await response.json().catch(() => ({}));
          alert(result.error || "Something went wrong");
        }
      } catch (err) {
        console.error(err);
        alert("Signup failed. Please try again.");
      }
    });
  });
});
</script>


</body>
</html>